<footer>
  <div class="footerIcons">
    <a href="https://facebook.com" target="_blank"
      ><img class="navIcons" src="./img/icon/facebook.png"
    /></a>
    <a href="https://instagram.com" target="_blank"
      ><img class="navIcons" src="./img/icon/instagram.png"
    /></a>
    <a href="https://twitter.com" target="_blank"
      ><img class="navIcons" src="./img/icon/twitter.png"
    /></a>
  </div>
  <div class="foo">
    <a href="./datenschutz.html">DATENSCHUTZ </a>
    <a href="./impressum.html">IMPRESSUM</a>
  </div>
</footer>
